<style>
  *{
      font-family: 'Noto Sans KR', sans-serif;
      list-style: none;
      text-decoration: none;
      border-collapse: collapes;
      margin:0px;
      padding:0px;
      color:#000;
    }
      ul { list-style-type:none; }
      li { display:inline-block; }
  body { 
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center;
        }
  #head { align-items:center; text-align:center; color:#8e8e8e;}
</style>
