<style>
  *{
      font-family: 'Noto Sans KR', sans-serif;
      list-style: none;
      text-decoration: none;
      border-collapse: collapes;
      margin:0px;
      padding:0px;
      color:#000;
    }
</style>
